.bgimage{
    background-image: url('../images/computechlogo.jpg');
    background-position: center center;
    background-size: cover;
    width: 865px;
    height: 150px;
}

body {
    background-color: #000000;
    
p {
    color: #FFFFFF;
}

